@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Cabin&family=Electrolize&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body {
    height: 100%;
    font-family: 'Amiko', sans-serif;
    margin:5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #474A2C;
    color: #CDD6DD;
}

header{
    text-align: center;
}

.header__title{
    font-family: 'Electrolize', sans-serif;
    font-size: 8vh;
    margin-bottom: 2vh;
}

.header__subtitle-1, .header__subtitle-2  {
    font-family: 'Cabin', sans-serif;
}

.header__subtitle-1 {
    font-size: 3vh;
}

.header__subtitle-2 {
    font-size: 5vh;
    margin-bottom: 1.5vh;
}

.header__emphasis{
    color: #F74236;
}

.header__button{
    font-size: 5vh;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}
      
.header__button::after {
    content: "";
    background-color: #F74236;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.5s;
}
      
.header__button:hover::after {
    top: 0px;
    left: 0px;
}


.balloon-container__balloon{
    font-size: 40vh;
}